.container {
  
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.gridCol1 { grid-area: 1 / 1 / 2 / 2; }
.gridCol2 { grid-area: 1 / 2 / 2 / 3; }
