.container {
  padding: 0 2rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.gridCol1 { grid-area: 1 / 1 / 2 / 2; }
.gridCol2 { grid-area: 1 / 2 / 2 / 3; }
